<div class="card-subtitle mb-2 text-muted"> Author: {{quote.author}}
  <br>
  <span id="when">Time Ellapsed: {{quote.datePosted | dateCount }} days ago.</span> 
</div>
<div class="container" id="buttons">
  <span class="btn btn-sm btn-success" id="upvote" (click)="upvote()">{{quote.likes}} <i class="fa fa-thumbs-up"></i></span>
  <span class="btn btn-sm btn-danger" id="downvote" (click)="downvote()" >{{quote.dislike}} <i class="fa fa-thumbs-down" id="dislike"></i></span>
  <span class="btn btn-sm btn-danger" id="delete" (click)='deleteQuote(true)'><i class="fa fa-trash" id="delete"></i></span>
</div>
